/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
body {
	color: rgb(var(--foreground-rgb));
	background: #c3c3c3;
    font-family: "Inter", sans-serif;
}

h1,
label {
	color: #1f2937;
}

button {
    background-color: #1f2937 !important;
}

.underline-decoration {
    color: #136cb2;
}

.underline-decoration:hover {
    color: #1f2937;
}

.form-color {
    color: #1f2937 !important;
}

.form-color:focus {
    color: #1f2937;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
