.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 280px; /* Set a fixed width */
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    background-color: white;
    border: 5px solid goldenrod; /* Default border color */
  }
  
  .card:hover {
    transform: scale(1.05); /* Add a slight zoom on hover */
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    padding-top: 150%; /* 2:3 aspect ratio for the poster */
    overflow: hidden;
  }
  
  .imageContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px;
  }
  
  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 1rem; /* 18px */
    line-height: 1.50rem; /* 28px */
    font-weight: bold;
    color: #1f2937;
    min-height: 48px; /* Adjust based on expected title length */
    text-align: center;
  }
  
  .movieInfoContainer {
    display: flex;
    justify-content: center;
  }
  
  .movieInfo {
    font-size: 1rem;
    color: #595f6c;
    margin-top: auto;
  }
  
  .border-golden {
    border-color: gold; /* Golden border */
  }
  
